@font-face {
  font-family: "BMW Type Global Pro";
  src: url("../fonts/bmwtypewebli_all.ttf") format("truetype"), url("../fonts/bmwtypewebli_all.woff") format("woff"), url("../fonts/bmwtypewebli_all.woff2") format("woff2"), url("../fonts/bmwtypewebli_all.eot") format("eot"), url("../fonts/bmwtypewebli_all.svg") format("svg");
}
@font-face {
  font-family: "BMW Type Global Pro";
  src: url("../fonts/bmwtypewebbo_all.ttf"), url("../fonts/bmwtypewebbo_all.ttf") format("truetype"), url("../fonts/bmwtypewebbo_all.woff") format("woff"), url("../fonts/bmwtypewebbo_all.woff2") format("woff2"), url("../fonts/bmwtypewebbo_all.eot") format("eot"), url("../fonts/bmwtypewebbo_all.svg") format("svg");
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "BMW Type Global Pro", "Helvetica", "Arial", sans-serif;
  color: #000000;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  color: white;
  margin-bottom: 30px;
  padding: 0 15px;
  height: 77px;
  align-items: center;
}
@media (min-width: 768px) {
  header {
    padding: 0 20px;
    margin-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  header {
    padding: 0 50px;
    margin-bottom: 130px;
  }
}
header .logo.left span {
  font-weight: bold;
  font-size: 21px;
}
@media (min-width: 768px) {
  header .logo.left span {
    font-size: 34px;
  }
}
header .logo.right {
  height: 25px;
}
@media (min-width: 768px) {
  header .logo.right {
    height: 38px;
  }
}
header .logo.right img {
  height: 100%;
}

section {
  margin-bottom: 80px;
}
@media (min-width: 768px) {
  section {
    margin-bottom: 130px;
  }
}

p {
  font-size: 17px;
  line-height: 23px;
}

h1 {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
@media (min-width: 992px) {
  h3 {
    font-size: 28px;
    line-height: 33px;
  }
}

label, .small {
  font-size: 14px;
  line-height: 18px;
}

a {
  color: #1C69D4;
  text-decoration: none;
}

input, textarea {
  border: 1px solid #E3E3E3;
  border-radius: 3px;
  background-color: #FCFCFC;
}

@media (min-width: 992px) {
  p {
    font-size: 19px;
    line-height: 25px;
  }

  h1 {
    font-size: 19px;
  }

  h2 {
    font-size: 28px;
  }
}
.strong {
  font-weight: bold;
}

.main-body {
  overflow: hidden;
  max-width: 929px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-body {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.side-margin {
  margin-left: 15px;
  margin-right: 15px;
}
@media (min-width: 768px) {
  .side-margin {
    margin-left: 0;
    margin-right: 0;
  }
}

.start {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .start {
    flex-direction: row;
    margin-bottom: 130px;
  }
}
.start .title {
  flex-basis: calc(33%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .start .title {
    margin-right: 20px;
  }
}
@media (min-width: 992px) {
  .start .title {
    margin-right: 30px;
  }
}
.start .title h1 {
  margin: 0 0 20px;
}
.start .title .intro-header {
  margin: 0 0 30px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .start .title .intro-header {
    margin: 0;
  }
}
@media (min-width: 992px) {
  .start .title .intro-header {
    font-size: 34px;
    line-height: 40px;
  }
}
@media (min-width: 768px) {
  .start .image-container {
    flex-basis: calc(66% + 20px);
  }
}
@media (min-width: 992px) {
  .start .image-container {
    flex-basis: calc(66% + 30px);
  }
}
.start .image-container img {
  width: 100%;
}
@media (min-width: 768px) {
  .start .image-container img {
    border-radius: 5px;
  }
}

.introduction {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .introduction {
    flex-direction: row;
  }
}
.introduction p {
  flex-basis: calc(33%);
  margin: 0 0 30px;
}
@media (min-width: 768px) {
  .introduction p {
    margin: 0;
    margin-right: 20px;
  }
}
@media (min-width: 992px) {
  .introduction p {
    margin-right: 30px;
  }
}
.introduction p:last-child {
  margin: 0;
}

.images {
  display: none;
}
@media (min-width: 768px) {
  .images {
    display: flex;
  }
}
.images .column {
  flex-basis: calc(33%);
  min-width: 253px;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .images .column {
    min-width: 0;
  }
}
@media (min-width: 992px) {
  .images .column {
    margin-right: 30px;
  }
}
.images .column:last-child {
  margin-right: 0;
}
.images img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}
.images span {
  color: #ABABAB;
  display: block;
}

.program h2 {
  margin: 0 0 10px;
}
.program .times {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .program .times {
    flex-direction: row;
  }
}
.program .times .time {
  flex-basis: calc(25%);
}
@media (min-width: 768px) {
  .program .times .time {
    margin-right: 20px;
  }
}
@media (min-width: 992px) {
  .program .times .time {
    margin-right: 30px;
  }
}
.program .times .time:last-child {
  margin-right: 0;
}
.program .times h3 {
  margin: 30px 0 0;
}
.program .times p {
  margin: 10px 0 0;
}

.sign-up {
  display: flex;
  flex-direction: column;
}
.sign-up h2 {
  margin: 0px 0 30px;
}
.sign-up .body {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .sign-up .body {
    flex-direction: row;
  }
}
.sign-up .info {
  flex-basis: calc(33%);
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .sign-up .info {
    margin-right: 20px;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .sign-up .info {
    margin-right: 30px;
  }
}
.sign-up .info p {
  margin: 0 0 1em;
}
.sign-up .info p:last-child {
  margin: 0;
}
@media (min-width: 768px) {
  .sign-up .interactive {
    flex-basis: calc(66% + 20px);
  }
}
@media (min-width: 992px) {
  .sign-up .interactive {
    flex-basis: calc(66% + 30px);
  }
}
.sign-up .interactive .thank-you {
  display: none;
}
.sign-up .interactive form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sign-up .interactive form .input {
  flex-basis: 100%;
  margin-bottom: 20px;
}
@media (min-width: 576px) {
  .sign-up .interactive form .input {
    flex-basis: calc(50% - (20px / 2));
  }
  .sign-up .interactive form .input.left {
    margin-right: 20px;
  }
}
@media (min-width: 992px) {
  .sign-up .interactive form .input {
    flex-basis: calc(50% - (30px / 2));
  }
  .sign-up .interactive form .input.left {
    margin-right: 30px;
  }
}
.sign-up .interactive form .input.location .zip {
  margin-bottom: 20px;
}
@media (min-width: 576px) {
  .sign-up .interactive form .input.location {
    display: flex;
  }
  .sign-up .interactive form .input.location .zip {
    flex: 1;
    margin-bottom: 0;
    margin-right: 20px;
  }
  .sign-up .interactive form .input.location .place {
    flex: 3;
  }
}
@media (min-width: 992px) {
  .sign-up .interactive form .input.location .zip {
    margin-right: 30px;
  }
}
.sign-up .interactive form .input label {
  display: inline-block;
  margin-bottom: 10px;
  color: #ABABAB;
}
.sign-up .interactive form .input input {
  width: 100%;
  box-sizing: border-box;
  display: block;
  height: 34px;
}
.sign-up .interactive form .input input.invalid {
  border: 1px solid #1C69D4;
}
.sign-up .interactive form .text-area {
  flex-basis: 100%;
  margin-bottom: 30px;
}
.sign-up .interactive form .text-area label {
  color: #ABABAB;
}
.sign-up .interactive form .text-area textarea {
  width: 100%;
  box-sizing: border-box;
  display: block;
  resize: none;
}
.sign-up .interactive form .terms {
  flex-basis: 100%;
  margin-bottom: 50px;
}
.sign-up .interactive form .terms label {
  display: flex;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .sign-up .interactive form .terms label {
    align-items: center;
  }
}
.sign-up .interactive form .terms .modal-open {
  color: #1C69D4;
}
.sign-up .interactive form .terms .modal-open:hover {
  cursor: pointer;
}
.sign-up .interactive form .terms #checkbox-visible {
  margin-right: 10px;
  width: 20px;
  border: 1px solid #1C69D4;
  border-radius: 3px;
  background-color: #FCFCFC;
}
.sign-up .interactive form .terms #checkbox-invisible {
  display: none;
}
.sign-up .interactive form .terms #checkbox-invisible:checked ~ label #checkbox-visible {
  background-color: #1C69D4;
  border: 1px solid #1C69D4;
}
.sign-up .interactive form .submit {
  flex-basis: 100%;
}
.sign-up .interactive form .submit input {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #D8D8D8;
  border-radius: 3px;
  border: none;
  padding: 13px 0;
}
@media (min-width: 768px) {
  .sign-up .interactive form .submit input {
    width: 221px;
  }
}
@media (min-width: 992px) {
  .sign-up .interactive form .submit input {
    font-size: 19px;
    line-height: 23px;
  }
}
.sign-up .interactive form .submit input.activated {
  background-color: #1C69D4;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .logos {
    justify-content: space-around;
  }
}
.logos .logo {
  max-height: 72px;
  max-width: 72px;
}
@media (min-width: 768px) {
  .logos .logo {
    max-height: 98px;
    max-width: 98px;
  }
}
.logos .logo img {
  height: 100%;
}

footer {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 77px;
  background-color: #D8D8D8;
}
@media (min-width: 768px) {
  footer {
    padding: 0 20px;
  }
}
@media (min-width: 1200px) {
  footer {
    padding: 0 50px;
  }
}

.teilnahmebedingungen {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
}
.teilnahmebedingungen .modal-content {
  width: 100%;
  box-sizing: border-box;
  max-width: 768px;
  background: white;
  padding: 15px;
  margin: 15px;
}
.teilnahmebedingungen .modal-header {
  display: flex;
  justify-content: space-between;
}
.teilnahmebedingungen .modal-header .modal-close {
  border: 0;
  background: none;
  color: #1C69D4;
}
.teilnahmebedingungen .modal-header .modal-close:hover, .teilnahmebedingungen .modal-header .modal-close :active {
  cursor: pointer;
  color: black;
}
.teilnahmebedingungen .modal-header .modal-close span {
  font-size: 25px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .slide-show {
    display: none;
  }
}
.slide-show .gallery-cell {
  width: 253px;
  margin-right: 20px;
}
.slide-show .gallery-cell img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}
.slide-show .gallery-cell span {
  color: #ABABAB;
  display: block;
}
.slide-show .flickity-button {
  display: none;
}
.slide-show .flickity-page-dots {
  display: none;
}

/*# sourceMappingURL=newstyle.css.map */
