* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
}

.main-body {
  overflow: hidden;
  max-width: 929px;
  margin: 0 auto;
}

.side-padding {
  padding-left: 15px;
  padding-right: 15px;
}

.start {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .start {
    flex-direction: row;
  }
}
.start .title {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.start .title h1 {
  margin: 20px 0;
}
.start .title p {
  margin: 0 0 30px;
}
.start .image-container {
  flex: 2;
}
.start .image-container img {
  max-width: 100%;
  margin-bottom: 26px;
}

.introduction {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .introduction {
    flex-direction: row;
  }
}
.introduction .column {
  flex: 1;
}
.introduction p {
  margin: 0;
}
.introduction p.one {
  margin-bottom: 5px;
}
.introduction p.two {
  margin-bottom: 25px;
}
.introduction p.three {
  margin-bottom: 80px;
}

.images {
  display: flex;
  overflow: scroll;
  margin-bottom: 64px;
}
.images img {
  width: 100%;
  min-width: 231px;
  margin-bottom: 9px;
}
.images span {
  display: block;
}
.images span.strong {
  font-weight: bold;
}

.program h2 {
  margin: 0 0 10px;
}
.program .times {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .program .times {
    flex-direction: row;
  }
}
.program .times .time {
  flex: 1;
}
.program .times h3 {
  margin: 30px 0 10px;
}
.program .times p {
  margin: 0;
}

.sign-up {
  display: flex;
  flex-direction: column;
}
.sign-up h2 {
  margin: 80px 0 30px;
}
.sign-up .body {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .sign-up .body {
    flex-direction: row;
  }
}
.sign-up .info {
  flex: 1;
}
.sign-up .info p {
  margin: 1em 0 0;
}
.sign-up .info p.strong {
  font-weight: bold;
}
.sign-up .interactive {
  flex: 2;
  margin-top: 30px;
}
.sign-up .interactive form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sign-up .interactive form .input {
  flex-basis: 100%;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .sign-up .interactive form .input {
    flex-basis: 50%;
  }
}
.sign-up .interactive form .input input {
  border: 1px solid black;
  width: 100%;
  box-sizing: border-box;
  display: block;
}
.sign-up .interactive form .text-area {
  flex-basis: 100%;
  margin-top: 20px;
}
.sign-up .interactive form .text-area textarea {
  border: 1px solid black;
  width: 100%;
  box-sizing: border-box;
  display: block;
}
.sign-up .interactive form .terms {
  flex-basis: 100%;
  margin-top: 31px;
}
.sign-up .interactive form .submit {
  flex-basis: 100%;
  margin-top: 50px;
}
.sign-up .interactive form .submit input {
  width: 100%;
  border: 1px solid black;
}

.logos {
  display: flex;
  justify-content: space-between;
  margin: 80px 0 68px;
}

footer {
  background-color: grey;
  padding: 23px 15px 38px;
}

/*# sourceMappingURL=newstyle.css.map */
