// Small devices (landscape phones, 576px and up)
$small-device:        576px;
// Medium devices (tablets, 768px and up)
$medium-device:       768px;
// Large devices (desktops, 992px and up)
$large-device:        992px;
// Extra large devices (large desktops, 1200px and up)
$extra-large-device:  1200px;
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
}
.main-body {
  overflow: hidden;
  max-width: 929px;
  margin: 0 auto;
}
.side-padding {
  padding-left: 15px;
  padding-right: 15px;
}
.start {
  display: flex;
  flex-direction: column;
  @media(min-width: $medium-device) {
    flex-direction: row;
  }
  .title {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      margin: 20px 0;
    }
    p {
      margin: 0 0 30px;
    }
  }
  .image-container {
    flex: 2;
    img {
      max-width: 100%;
      margin-bottom: 26px;
    }
  }
}
.introduction {
  display: flex;
  flex-direction: column;
  @media(min-width: $medium-device) {
    flex-direction: row;
  }
  .column {
    flex: 1;
  }
  p {
    margin: 0;
    &.one {
      margin-bottom: 5px;
    }
    &.two {
      margin-bottom: 25px;
    }
    &.three {
      margin-bottom: 80px;
    }
  }
}
.images {
  display: flex;
  overflow: scroll;
  margin-bottom: 64px;
  img {
    width: 100%;
    min-width: 231px;
    margin-bottom: 9px;
  }
  span {
    display: block;
    &.strong {
      font-weight: bold;
    }
  }
}
.program {
  h2 {
    margin: 0 0 10px;
  }
  .times {
    display: flex;
    flex-direction: column;
    @media(min-width: $medium-device) {
      flex-direction: row;
    }
    .time {
      flex: 1;
    }
    h3 {
      margin: 30px 0 10px;
    }
    p {
      margin: 0;
    }
  }
}
.sign-up {
  display: flex;
  flex-direction: column;
  h2 {
    margin: 80px 0 30px;
  }
  .body {
    display: flex;
    flex-direction: column;
    @media(min-width: $medium-device) {
      flex-direction: row;
    }
  }
  .info {
    flex: 1;
    p {
      margin: 1em 0;
      &.strong {
        font-weight: bold;
      }
    }
  }
  .interactive {
    flex: 2;
    form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .input {
        flex-basis: 100%;
        @media(min-width: $medium-device) {
          flex-basis: 50%;
        }
        input {
          border: 1px solid black;
          width: 100%;
          box-sizing: border-box;
          display: block;
        }
      }
      .text-area {
        flex-basis: 100%;
        textarea {
          border: 1px solid black;
          width: 100%;
          box-sizing: border-box;
          display: block;
        }
      }
      .terms {
        flex-basis: 100%;
      }
      .submit {
        flex-basis: 100%;
      }
    }
  }
}
.logos {
  display: flex;
  justify-content: space-between;
  margin: 0 0 68px;
}
footer {
  background-color: grey;
  padding: 23px 15px 38px;
}
