@font-face {
  font-family: "BMW Type Global Pro";
  src:  url("../fonts/bmwtypewebli_all.ttf") format("truetype"),
        url("../fonts/bmwtypewebli_all.woff") format("woff"),
        url("../fonts/bmwtypewebli_all.woff2") format("woff2"),
        url("../fonts/bmwtypewebli_all.eot") format("eot"),
        url("../fonts/bmwtypewebli_all.svg") format("svg");
}
@font-face {
  font-family: "BMW Type Global Pro";
  src:  url("../fonts/bmwtypewebbo_all.ttf"),
        url("../fonts/bmwtypewebbo_all.ttf") format("truetype"),
        url("../fonts/bmwtypewebbo_all.woff") format("woff"),
        url("../fonts/bmwtypewebbo_all.woff2") format("woff2"),
        url("../fonts/bmwtypewebbo_all.eot") format("eot"),
        url("../fonts/bmwtypewebbo_all.svg") format("svg");
  font-weight: bold;
}
// Small devices (landscape phones, 576px and up)
$small-device:        576px;
// Medium devices (tablets, 768px and up)
$medium-device:       768px;
// Large devices (desktops, 992px and up)
$large-device:        992px;
// Extra large devices (large desktops, 1200px and up)
$extra-large-device:  1200px;

//Margin right to elements on medium to large devices
$medium-margin-right: 20px;
//Margin right to elements on large devices and up
$large-margin-right:  30px;

* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  font-family: "BMW Type Global Pro", "Helvetica", "Arial", sans-serif;
  color: #000000;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  margin-bottom: 30px;
  padding: 0 15px;
  @media(min-width: $medium-device) {
    padding: 0 20px;
    margin-bottom: 80px;
  }
  @media(min-width: $extra-large-device) {
    padding: 0 50px;
    margin-bottom: 130px;
  }
  height: 77px;
  align-items: center;
  .logo.left {
    span {
      font-weight: bold;
      font-size: 21px;
    }
  }
}
section {
  margin-bottom: 80px;
  @media(min-width: $medium-device) {
    margin-bottom: 130px;
  }
}
p {
  font-size: 17px;
  line-height: 22px;
}
h1 {
  font-size: 16px;
  font-weight: bold;
}
h2 {
  font-size: 21px;
  font-weight: bold;
}
h3 {
  font-size: 21px;
  font-weight: bold;
}
label, .small {
  font-size: 15px;
  line-height: 18px;
}
a {
  color: #1C69D4;
  text-decoration: none;
}
input,textarea {
  border: 1px solid #E3E3E3;
  border-radius: 3px;
  background-color: #FCFCFC;
}
@media(min-width: $large-device) {
  p {
    font-size: 18px;
    line-height: 25px;
  }
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 28px;
  }
}
.strong {
  font-weight: bold;
}
.main-body {
  overflow: hidden;
  max-width: 929px;
  margin: 0 auto;
  //padding on purpose to center body. Leave margin as is.
  @media(min-width: $medium-device) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.side-margin {
  margin-left: 15px;
  margin-right: 15px;
  @media(min-width: $medium-device) {
    margin-left: 0;
    margin-right: 0;
  }
}

.start {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  @media(min-width: $medium-device) {
    flex-direction: row;
    margin-bottom: 130px;
  }
  .title {
    flex-basis: calc(33%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media(min-width: $medium-device) {
      margin-right: $medium-margin-right;
    }
    @media(min-width: $large-device) {
      margin-right: $large-margin-right;
    }
    h1 {
      margin: 0 0 20px;
    }
    .intro-header {
      margin: 0 0 30px;
      font-size: 21px;
      line-height: 26px;
      font-weight: bold;
      @media(min-width: $medium-device) {
        margin: 0;
      }
      @media(min-width: $large-device) {
        font-size: 34px;
        line-height: 40px;
      }
    }
  }
  .image-container {
    @media(min-width: $medium-device) {
      flex-basis: calc(66% + #{$medium-margin-right});
    }
    @media(min-width: $large-device) {
      flex-basis: calc(66% + #{$large-margin-right});
    }
    img {
      width: 100%;
      @media(min-width: $medium-device) {
        border-radius: 5px;
      }
    }
  }
}
.introduction {
  display: flex;
  flex-direction: column;
  @media(min-width: $medium-device) {
    flex-direction: row;
  }
  p {
    flex-basis: calc(33%);
    margin: 0 0 30px;
    @media(min-width: $medium-device) {
      margin: 0;
      margin-right: $medium-margin-right;
    }
    @media(min-width: $large-device) {
      margin-right: $large-margin-right;
    }
    &:last-child {
      margin: 0;
    }
  }
}
.images {
  display: none;
  @media(min-width: $medium-device) {
    display: flex;
  }
  .column {
    flex-basis: calc(33%);
    min-width: 253px;
    margin-right: $medium-margin-right;
    @media(min-width: $medium-device) {
      min-width: 0;
    }
    @media(min-width: $large-device) {
      margin-right: $large-margin-right;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  span {
    color: #ABABAB;
    display: block;
  }
}
.program {
  h2 {
    margin: 0 0 10px;
  }
  .times {
    display: flex;
    flex-direction: column;
    @media(min-width: $medium-device) {
      flex-direction: row;
    }
    .time {
      flex-basis: calc(25%);
      @media(min-width: $medium-device) {
        margin-right: $medium-margin-right;
      }
      @media(min-width: $large-device) {
        margin-right: $large-margin-right;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    h3 {
      margin: 30px 0 0;
    }
    p {
      margin: 10px 0 0;
    }
  }
}
.sign-up {
  display: flex;
  flex-direction: column;
  h2 {
    margin: 0px 0 30px;
  }
  .body {
    display: flex;
    flex-direction: column;
    @media(min-width: $medium-device) {
      flex-direction: row;
    }
  }
  .info {
    flex-basis: calc(33%);
    margin-bottom: 50px;
    @media(min-width: $medium-device) {
      margin-right: $medium-margin-right;
      margin-bottom: 0;
    }
    @media(min-width: $large-device) {
      margin-right: $large-margin-right;
    }
    p {
      margin: 0 0 1em;
      &:last-child {
        margin: 0;
      }
    }
  }
  .interactive {
    @media(min-width: $medium-device) {
      flex-basis: calc(66% + #{$medium-margin-right});
    }
    @media(min-width: $large-device) {
      flex-basis: calc(66% + #{$large-margin-right});
    }
    .thank-you {
      display: none;
    }
    form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .input {
        flex-basis: 100%;
        margin-bottom: 20px;
        @media(min-width: $small-device) {
          flex-basis: calc(50% - (#{$medium-margin-right} / 2));
          &.left {
            margin-right: $medium-margin-right;
          }
        }
        @media(min-width: $large-device) {
          flex-basis: calc(50% - (#{$large-margin-right} / 2));
          &.left {
            margin-right: $large-margin-right;
          }
        }
        &.location {
          .zip {
            margin-bottom: 20px;
          }
          @media(min-width: $small-device) {
            display: flex;
            .zip {
              flex: 1;
              margin-bottom: 0;
              margin-right: $medium-margin-right;
            }
            .place {
              flex: 3;
            }
          }
          @media(min-width: $large-device) {
            .zip {
              margin-right: $large-margin-right;
            }
          }
        }
        label {
          display: inline-block;
          margin-bottom: 10px;
          color: #ABABAB;
        }
        input {
          width: 100%;
          box-sizing: border-box;
          display: block;
          &.invalid {
            border: 1px solid #1C69D4;
          }
          height: 34px;
        }
      }
      .text-area {
        flex-basis: 100%;
        margin-bottom: 30px;
        label {
          color: #ABABAB;
        }
        textarea {
          width: 100%;
          box-sizing: border-box;
          display: block;
          resize: none;
        }
      }
      .terms {
        flex-basis: 100%;
        margin-bottom: 50px;
        label {
          display: flex;
          align-items: flex-start;
          @media(min-width: $medium-device) {
            align-items: center;
          }
        }
        .modal-open {
          color: #1C69D4;
          &:hover {
            cursor: pointer;
          }
        }
        #checkbox-visible {
          margin-right: 10px;
          width: 20px;
          border: 1px solid #1C69D4;
          border-radius: 3px;
          background-color: #FCFCFC;
        }
        #checkbox-invisible {
          display: none;
          &:checked {
            ~label {
              #checkbox-visible {
                background-color: #1C69D4;
                border: 1px solid #1C69D4;
              }
            }
          }
        }
      }
      .submit {
        flex-basis: 100%;
        input {
          width: 100%;
          font-size: 16px;
          font-weight: bold;
          color: #FFFFFF;
          background-color: #D8D8D8;
          border-radius: 3px;
          border: none;
          padding: 13px 0;
          @media(min-width: $medium-device) {
            width: 221px
          }
          @media(min-width: $large-device) {
            font-size: 18px;
          }
          &.activated {
            background-color: #1C69D4;
          }
        }
      }
    }
  }
}
.logos {
  display: flex;
  justify-content: space-between;
  @media(min-width: $medium-device) {
    justify-content: space-around;
  }
}
footer {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 77px;
  background-color: #D8D8D8;
  @media(min-width: $medium-device) {
    padding: 0 20px;
  }
  @media(min-width: $extra-large-device) {
    padding: 0 50px;
  }
}
//modal
.teilnahmebedingungen {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(28, 105, 212, 0.5);
  .modal-content {
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: $medium-device;
    background: white;
    padding: $large-margin-right;
  }
  .modal-header {
    display: flex;
    justify-content: space-between;
    .modal-close {
      border: 0;
      background: none;
      &:hover {
        cursor: pointer;
        color: #1C69D4;
      }
      span {
        font-size: 25px;
        font-weight: bold;
      }
    }
  }
}
.slide-show {
  @media(min-width: $medium-device) {
    display: none;
  }
  .gallery-cell {
    width: 253px;
    margin-right: $medium-margin-right;
    img {
      width: 100%;
      margin-bottom: 10px;
      border-radius: 5px;
    }
    span {
      color: #ABABAB;
      display: block;
    }
  }
}
