* {
  margin: 0;
}
body {
  width: 100vw;
}
header {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}
.main-body {
  width: 100%;
  max-width: 929px;
  margin: 0 auto;
  .header {
    display: flex;
    .title {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h1 {
        margin: 0;
      }
    }
    .image-container {
      flex: 2;
      img {
        max-width: 100%;
      }
    }
  }
  .introduction {
    display: flex;
    .column-1,.column-2,.column-3 {
      flex: 1;
      text-align: justify;
    }
  }
  .images {
    display: flex;
    .column {
      flex: 1;
      img {
        max-width: 100%;
      }
    }
  }
  .times {
    display: flex;
    .time {
      flex: 1;
    }
  }
  .sign-up {
    display: flex;
    flex-direction: column;
    .body {
      display: flex;
      .info {
        flex: 1;
      }
      .interactive {
        flex: 2;
        .address-columns {
          display: flex;
          .address-column {
            flex: 1;
            input {
              width: 100%;
              box-sizing: border-box;
              border: 1px solid black;
              box-shadow: none;
            }
            span {
              display: block;
            }
          }
        }
        .terms {
          #conditions-checkbox {
            display: none;
            &:checked {
              ~ label {
                img {
                  background-color: red;
                }
              }
            }
          }
          .visible-checkbox {
            border: 1px solid black;
            border-radius: 2px;
          }
        }
      }
    }
  }
  .logos {
    display: flex;
    justify-content: space-around;
  }
}

footer {
  display: flex;
  background-color: grey;
  max-width: 929px;
  margin: 0 auto;
}
